/* 
Colors:
Turquoise: 0AFFC3 
Aqua: 09E0E8
Robin's Egg Blue: 03B3FF
Ocean Blue: 096AE8
Dark Blue: 0A34FF
*/

body {
    background-color: dimgray;
    color:white;
    }
#header {
    background-color:none;
    margin: 0;
    min-height: 80px;
}
#header >h1 {
    margin:0;
    text-align:center;
    font-family:'Lato',sans-serif;
    position:relative;
    transform:translateY(50%)
    }
#nav{
    background-color:096AE8;
    margin:0;
    min-height:80px;
    font-family:'Lato', sans-serif;
    height:auto;
    }
#nav > ul{
    text-align:center;
    padding:15px 0 15px 0;
    margin:0;     
}
#nav > ul > button {
    min-width:178px;
    color:03B3FF;
    background-color:0A34FF;
    border:none;
    padding:15px 32px;
    transition background-color:.25s;
    border-bottom: 2px solid #09E0E8;
    }
#nav > ul > button:hover {
    background-color:0AFFC3;
    }
/*
.menu {
    display:flex;
    background-color:blueviolet;
    justify-content: space-around;
    list-style-type: none;
    margin:0;
    }
*/
/*
.menu > li {
    margin:0 15px 0 15px;
}
#middle-wrapper-width {
    display:flex;
    font-family:'Lato', sans-serif;
    max-width:960px;
    margin:0 auto;
    }
#middle-wrapper {
    background-color:none;
    margin:0 auto;
    }
*/
#main-content-wrapper {
    background-color:dimgray;
}
.side-by-side {
    
    }
#main-content-wrapper .image-content{
    text-align:center;
    margin:0 auto;
    margin-top:100px;
    }
.image-content > img {
    max-width:200px;
    border-radius:50%;
}
.image-content > h4 {
    font-family:'Lato',sans-serif;
    font-weight:300;
    color:purple;
}
.image-content > h4 > a:hover {
    color:rebeccapurple;   
}
.image-content > h4 > a {
       
}
#main-content-wrapper article{

    }
#main-content-wrapper article h2{
   text-align:center;
    }
#main-content-wrapper article p{
    max-width:300px;
    margin:0 auto;
    }
#main-content-wrapper #skills{
    text-align:center;
    font-weight:300;
    letter-spacing:2px;
    }
#main-content-wrapper #skills span{
    font-weight:400;
    }
#aside-content-wrapper {
    background-color:dimgray;
    font-family:'Lato',sans-serif;
    margin-top:50px;
    }
#aside-right{
    margin:0 50px 8px;
}
#aside-right h3{
    text-align:center;
}
#latest-work {
    list-style-type:none;
}
#latest-work > li {
    padding-top:15;
    padding-bottom:15px;
    padding-right:15px;
    width:100%;
    border-bottom:1px black solid;
}
#latest-work > li:before {
    content:'';
    border-color:transparent #008eef;
    border-style:solid;
    border-width:.35em 0 .35em .45em;
    display:block;
    height:0;
    width:0;
    left:-1em;
    top:.9em;
    position:relative
}
#favorite-sites {
    background-image:url(image/spuder-web.jpeg);
    border-top: 5px #0AFFC3  solid;
    border-bottom:5px #0AFFC3  solid; 
    text-align:center;
}
#favorite-sites sul {
    list-style-type:none;  
    display:flex;
    justify-content:space-around;
    margin:0;
    padding:40px;
}
footer {
    background-color:dimgray;
    text-align:center;
    font-family:'Lato',sans-serif;
    min-height:100px;
    }
footer >h1 {
    margin:0;
    transform:translateY(50%)
    }
img{
    max-width:100%;
    height:100px;
    }
.max-width{
    margin:0 auto;
    max-width:960px;
}
/*BootStrap Related*/
.container-fluid {
    padding:0;
}
#favorite-sites > .row > .col-md-4 > img {
    margin:0 auto;
}
.img-modal {
    text-align:center;
    vertical-align:middle;
}

.modal-body > p {
    color: black !important;
}

.invisible{
    color:red !important;
    background-color: black !important;
}